<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to AvalonLine</title>

  <meta name="description" content="AvalonLine">
  <meta name="author" content="Hack-A-Thon, Team Robert, Fako, Geff">

</head>

<body>
  <h1>Welcome to AvalonLine</h1>
  <sub> The awesomer version of Avalon </sub>
  <form action="{% url 'game' %}" method="post">
    <h1>Enter your Nickname</h1>
    Nickname:<br>
    {% csrf_token %}
    <input type="text" name="nickname"/><br>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>

